body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: #252525;
}

a {
    text-decoration: none;
    color: #252525;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 10px;
}

.center {
    text-align: center;
}

ul {
    padding-left: 0;
}

li {
    list-style-type: none;
    padding: 10px;
    text-decoration: none;
}


.question-list {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.question-list-item {
    padding: 20px;
    background: white;
    display: flex;
    border: 1px solid #dad7d7;
    border-radius: 3px;

}

/*@media (min-width: 600px) {*/
/*    .question-list-item {*/
/*        margin: 20px;*/
/*        border: 1px solid #d5d8df;*/
/*        border-radius: 4px;*/
/*    }*/
/*}*/

.avatar {
    /*height: 50px;*/
    /*border-radius: 25px;*/
    /*margin: 10px;*/
    width: 60px;
    height: 60px;
    margin-right: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    flex-shrink: 0;
}

.question-details {
    padding-left: 20px;
    border-left: 1px solid #eee;

    flex: 1;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.question-details p {
    margin: 0;
    min-width: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
